/* Strat Headr*/
.headr {
  width: 100%;
  border-bottom: 1px solid $borde-color;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  .container {
    @media (max-width: 992px) {
      flex-direction: column;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    li {
      display: flex;
      align-items: center;
      gap: 6px;
      i {
        height: 80%;
        color: $main-color;
      }
    }
    .connect {
      @media (max-width: 992px) {
        width: 80%;
        padding-bottom: 10px;
      }
      @media (max-width: 400px) {
        width: 100%;
      }
      display: flex;
      width: 50%;
      justify-content: space-evenly;

      li:first-of-type {
        padding-right: 10px;
        border-right: 1px solid $borde-color;
      }
    }
    .info {
      @media (max-width: 992px) {
        width: 100%;
      }
      @media (max-width: 400px) {
        width: 107%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }

      display: flex;
      width: 45%;
      justify-content: space-evenly;
      li:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid $borde-color;
      }
    }
  }
}
/* End Headr*/
