/*  Start Variabulse  */
$minSmall: '(min-width:768px)';
$max-Small: '(max-width:767px)';
$minMedium: '(min-width:992px)';
$minLarge: '(min-width:1200px)';
/*  End Variabulse  */
$main-color: #f7941d;
$alt-color: #333;
$borde-color: #ccc;
$--bs-gutter-x: 1.5rem;
$--bs-gutter-y: 0;
$main-transition: 0.3s;
$min-card-padding: 100px;
$pragrph_color: #424646;
